.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
    height: 70%;
    justify-content: center;
    margin-top: 5%;
    background-color: blue;
}

.container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.button {
    background-color: black;
    color: white;
    height: 40px;
    width: 70px;
}

.divs {
    justify-content: center;
    display: flex;
}

.Display {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
  }

.Box {
    height: 40px;
    width: 300px;
    background-color: cornsilk;
    margin-top: 10px;
}